@mixin TableCem {
    display: table;
    width: 100%;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin background-size($background-size) {
    -webkit-background-size: $background-size;
    -moz-background-size: $background-size;
    -o-background-size: $background-size;
    background-size: $background-size;
}

@mixin BotaoSaibaMais($color, $radius, $width, $txt-transform) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    text-transform: $txt-transform;
    width: $width;
}

@mixin blockCenter($width, $position) {
    display: table;
    margin: 0 auto;
    width: $width;
    position: $position;

    @media (min-width: 1025px) {}
}

@mixin MarginAuto {
    position: relative;

    @media (max-width: 780px) {
        @include blockCenter(96%, null);
    }

    @media screen and (min-width: 781px) and (max-width: 1024px) {
        @include blockCenter(80%, null);
    }

    @media (min-width: 1025px) {
        @include blockCenter(1150px, null);
    }
}

@mixin RelativeCem {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}


.margin-auto {
    @include MarginAuto;
}
